<!-- FILEPATH: /Users/nikhilsengar/Desktop/Programming/playground/node/hello world/todoViews/index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include("component/header",{ username: username }) %>

    <!-- Page content -->
    <div class="content">
      <h1>Hey guys, I am bla bla bls</h1>
      <p>i am bla bla bla developer , bla bla engineer, engineering ki h</p>
    </div>
  </body>
</html>
